* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: inter;
}

h3 {
  color: #fefefe;
  font-size: 15px;
}

.barre_nav {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 12%;
  height: 70px;
}

.logo {
  width: 10%;
  margin-left: 60px;
}

.bouton_nav {
  margin-left: 50px;
  width: 200px;
  height: 50px;
  background-color: #fefefe;
  border: #fefefe;
  transition: all 0.3s ease-in-out;
}

.bouton_nav:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/img/bg_circuit.png);
}

h2 {
  color: #31b9ff;
  margin-top: 20px;
}

#txt_pres {
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

#calendar {
  background-color: #0c0035;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 10px;
}

.flag {
  width: 10%;
  margin-left: 50px;
}
.flag.qatar {
  margin-left: 5px;
}
.flag.usa {
  height: 50px;
}

.flag.bah {
  height: 50px;
}
.weekend {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 800px;
  border-bottom: 3px solid #fefefe;
  margin: 5px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.weekend:nth-last-of-type(1) {
  border-bottom: none;
}

.txt {
  margin-top: 17px;
  margin-left: 10px;
}

.txt.circuit {
  width: 300px;
}
.txt.p {
  color: #fefefe;
}

.txt.date {
  text-align: center;
  margin-left: 110px;
  margin-top: 10px;
}

.txt.date.lemans {
  margin-top: 10px;
  margin-left: 95px;
  text-align: center;
}

.txt.date.prologue {
  text-align: center;
  margin-top: 10px;
  margin-left: 205px;
}

footer {
  background-color: #24292c;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 120px;
}

#logo-fia {
  width: 50px;
  height: 35px;
  margin-left: 60px;
  margin-top: 50px;
}

#logo-aco {
  margin-left: 60px;
  margin-top: 10px;
}

#credit {
  display: flex;
  flex-direction: column;
  width: 100p;
}

#barre_footer {
  background-color: #fefefe;
  width: 1px;
  height: 200px;
  margin-left: 70px;
}
.rs {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-left: -70px;
  gap: 20px;
}

#contact_txt {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40px;
  width: 20%;
  font-size: 20px;
  color: #31b9ff;
}

#contact p {
  color: #fefefe;
  display: flex;
  flex-direction: row;
  margin-left: -70px;
}
.mail {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 20px;
    width: 160px;
  }
  .barre_nav {
    gap: 10px;
  }
  .bienvenue {
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
  }
  .bienvenue.txt {
    width: 50%;
    text-align: center;
    margin-left: 10px;
  }
  #contact_txt {
    width: 30%;
  }
}
